.footer {
  margin-top: 50px;
}
.emanojbishtLink:link,
.emanojbishtLink:active {
  color: #228be6;
  text-decoration: none;
}

.emanojbishtLink:hover,
.emanojbishtLink:visited {
  color: #228be6;
  text-decoration: underline;
}
